<h1>Welcome to Society</h1>

<% if @societies %>
  <h2>My societies</h2>
  <% if @user.societies %>
    <% @user.societies.each do |user_society| %>
      <p><%=link_to user_society.name, user_society, :class => "btn btn-success btn-small" %></p>
    <% end %>
  <% end %>


  <% if !@user.societies %>
    <p>You are not currently in a society</p>
  <% end %>

  <% if @user.societies.count < @societies.count %>
    <h2>Join a society</h2>
    <% if @societies %>
      <% @societies.each do |society| %>
        <% if !current_user.is_member?(society) %>
          <p><%= link_to society.name, society, :class => "btn btn-success btn-small" %></p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<p><%= link_to 'Form a new society!', new_society_path, :class => "btn btn-info" %></p>



